.details {
  position: fixed;
  width: 300px;
  height: 200px;
  overflow-y: scroll;
  bottom: 5px;
  right: 5px;
  font-size: 0.7rem;
  background-color: rgba(173, 216, 230, .3);
  padding: 1rem;
  border-radius: 0.5rem;
}
