<table class="grid">
  <thead>
  <tr>
    <th>Name</th>
    <th><abbr title="Latitude">Lat</abbr></th>
    <th><abbr title="Longitude">Lng</abbr></th>
    <th><abbr title="Index">Idx</abbr></th>
    <th><abbr title="Chart">Crt</abbr></th>
  </tr>
  </thead>
  <tfoot>
  <tr>
    <th>Name</th>
    <th><abbr title="Latitude">Lat</abbr></th>
    <th><abbr title="Longitude">Lng</abbr></th>
    <th><abbr title="Index">Idx</abbr></th>
    <th><abbr title="Chart">Crt</abbr></th>
  </tr>
  </tfoot>
  <tbody>
  <tr *ngFor="let target of grid" [class.grid__row--highlight]="isHighlighted(target.id)"
      (click)="onTargetClick(target.id)">
    <td class="size">{{target.name}}</td>
    <td class="size">{{target.lat}}</td>
    <td class="size">{{target.lng}}</td>
    <td class="size">{{getCalculatedField(target.index)}}</td>
    <td><div style="width: 200px; height: 30px;" id="div_g" #graph></div></td>
  </tr>
  </tbody>
</table>
