.grid {
  &__header {
    text-align: center;
  }

  &__row {

    &--highlight {
      color: white;
      background-color: lightblue;
      transition: 0.5s;
    }
  }
}

table td {
  padding: 0.1rem;
}
